.AulaForm{
    width: 350px;
    padding: 15px;

}

.sensor{
    background-color: #93baff;

}

.atuador{   
    background-color: #ffbf6c;

}

/* Estilo para o layout geral do site */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* O main ocupa todo o espaço disponível para empurrar o footer para baixo */
main {
    flex: 1;
}

/* Estilos para o footer */
.footer {
    background-color: #333;
    color: #f8f9fa;
    padding: 20px 0;
    margin-top: auto; /* Garante que o footer fique na parte inferior */
}

.footer-section {
    margin-bottom: 1rem;
}

.footer-section h5 {
    color: #f8f9fa;
}

.footer-section p,
.footer-section ul {
    color: #bdbdbd;
}

.footer-links li {
    list-style: none;
}

.footer-links li a {
    text-decoration: none;
    color: #bdbdbd;
}

.footer-links li a:hover {
    color: #f8f9fa;
}

/* Estilo para linha divisória e espaçamento no footer */
.footer .text-center {
    border-top: 1px solid #444;
    margin-top: 1rem;
    padding-top: 1rem;
}

.footer .footer-section h5::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #f8f9fa;
    margin-top: 5px;
}

.footer-section p:last-of-type {
    font-weight: bold;
    color: #f8f9fa;
}

/*A classe 'alert-box' define o estilo da caixa centralizada onde o conteúdo é exibido:*/
.alert-box {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}
/*Usada para estilizar o texto que mostra a mensagem de contagem regressiva*/
.timer {
    font-size: 14px;
    color: #777;
}