.AulaForm{
    width: 350px;
    padding: 15px;

}

.sensor{
    background-color: #93baff;

}

.atuador{
    background-color: #ffbf6c;

}



/* Estilos para o footer */
.footer {
    background-color: #333;
    color: #f8f9fa;
    padding: 20px 0;
    margin-top: auto; /* Garante que o footer fique na parte inferior */
}

.footer-section {
    margin-bottom: 1rem;
}

.footer-section h5 {
    color: #f8f9fa;
}

.footer-section p,
.footer-section ul {
    color: #bdbdbd;
}

.footer-links li {
    list-style: none;
}

.footer-links li a {
    text-decoration: none;
    color: #bdbdbd;
}

.footer-links li a:hover {
    color: #f8f9fa;
}

/* Estilo para linha divisória e espaçamento no footer */
.footer .text-center {
    border-top: 1px solid #444;
    margin-top: 1rem;
    padding-top: 1rem;
}

.footer .footer-section h5::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #f8f9fa;
    margin-top: 5px;
}

.footer-section p:last-of-type {
    font-weight: bold;
    color: #f8f9fa;
}
.secao-com-fundo {
    background-image: 
        linear-gradient(rgba(126, 187, 102, 0.212), rgba(126, 123, 119, 0.5)),
        url('imagens/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    color: #fff; /* Cor do texto para contrastar com o fundo */
}
.letras_Projeto{
    font-family: 'Times New Roman';
}